<div class='repository'>
  <h1 class='owner-title'>Owners name: {{owner.login}}</h1>
  <h2 class='rep-title'>Repository title: {{name}}</h2>
  <article class='rep__info'>
    <img src='{{owner.avatar_url}}' alt='owner' class='owner__avatar' />
    <p class='owner__rep-create-date'>Created date: {{created_at}}</p>
    <p class='owner__watchers-count'>Watchers count: {{watchers_count}}</p>
    <a href='{{html_url}}' target='_blank' class='owner__link'>Go repository</a>

  </article>
</div>